<div class="text-center">
    <p>Expenses @ViewData.Model.ExpenseDate - Report #@ViewData.Model.Id</p>
    @foreach (var individualExpense in @ViewData.Model.IndividualExpenses)
    {
        <p>@individualExpense.ExpenseType @individualExpense.Amount @individualExpense.IsOverExpensedMeal</p>
    }
    <p>Meal Expenses: @ViewData.Model.MealExpenses</p>
    <p>Total Expenses: @ViewData.Model.TotalExpenses</p>
    <form asp-action="" method="POST">
        <select name="id">
            @foreach (var id in ViewData.Model.ExpenseReportIds) 
            {
                <option value="@id">Report #@id?.ToString()</option>
            }
        </select>
        <button type="submit"
                asp-controller="Home"
                asp-action="Index"
                class="btn btn-default">
            Retrieve Expense Report
        </button>
    </form>
    <form method="POST">
        <input type="date" name="expenseReportDate" />
        <button type="submit"
                asp-controller="Home"
                asp-action="CreateExpenseReport"
                class="btn btn-default ">
            Create Expense Report
        </button>
    </form>
    <form asp-action="ExpenseView" method="POST">
        <input type="hidden" name="expenseReportId" value="@ViewData.Model.Id"/>
        <input type="number" name="expenseCost" />
        <select type="text" name="expenseType">
            <option value="BREAKFAST">Breakfast</option>
            <option value="DINNER">Dinner</option>
            <option value="CAR_RENTAL">Car Rental</option>
        </select>
        <button type="submit"
                asp-controller="Home"
                asp-action="ExpenseUpdateView"
                class="btn btn-default ">
            Create Expense
        </button>
    </form>
</div>