@page "/ExpenseReports"

<PageTitle>Expense Reports</PageTitle>

@using ExpenseReport.Adapter.WebBlazorServerApp.Data
@using Microsoft.AspNetCore.Mvc
@inject ExpenseReportAdapterService ForecastAdapterService

<h1>Expense Reports</h1>

@if (expenseView == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var individualExpense in expenseView.IndividualExpenses)
    {
        <p>@individualExpense</p>
    }
    <p>Meal Expenses: @expenseView.MealExpenses</p>
    <p>Total Expenses: @expenseView.TotalExpenses</p>
    <EditForm Model="@expenseView" OnValidSubmit="GetExpenseReport">
        <InputSelect name="Id" @bind-Value="expenseView.Id">
            @foreach (var id in expenseView.ExpenseReportIds) 
            {
                <option value="@id">Report #@(id.ToString())</option>
            }
        </InputSelect>
        <button type="submit"
                asp-controller="Home"
                asp-action="Index"
                class="btn btn-default">
            Retrieve Expense Report
        </button>
    </EditForm>
    <EditForm Model="@expenseRequest" OnValidSubmit="CreateExpenseReport">
        <button type="submit"
                class="btn btn-default ">
            Create Expense Report
        </button>
    </EditForm>
    <EditForm Model="@expenseRequest" OnValidSubmit="CreateExpense">
        <InputNumber name="expenseCost" @bind-Value="@expenseRequest.expenseCost" />
        <InputSelect type="text" name="expenseType" @bind-Value="expenseRequest.expenseType">
            <option value="BREAKFAST">Breakfast</option>
            <option value="DINNER">Dinner</option>
            <option value="CAR_RENTAL">Car Rental</option>
        </InputSelect>
        <button type="submit"
                class="btn btn-default ">
            Create Expense
        </button>
    </EditForm>
}

@code {
    private ExpenseView? expenseView = new()
    {
        IndividualExpenses = new List<string>()
    };

    private CreateExpenseRequest? expenseRequest = new();

    private class CreateExpenseRequest
    {
        public int expenseCost { get; set; }
        public string expenseType { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        expenseView.ExpenseReportIds ??= (await ForecastAdapterService.OnGet()).ExpenseReportIds;
    }


    private void GetExpenseReport(EditContext expenseContext)
    {
        var id = (expenseContext.Model as ExpenseView).Id;
        expenseView = ForecastAdapterService.OnGet(id).Result;
    }

    private void CreateExpense(EditContext expenseContext)
    {
        var expenseCost = (expenseContext.Model as CreateExpenseRequest).expenseCost;
        var expenseType = (expenseContext.Model as CreateExpenseRequest).expenseType;
        var reportId = expenseView.Id;
        expenseView = ForecastAdapterService.ExpenseView(expenseCost, expenseType, reportId).Result;
    }
    private void CreateExpenseReport(EditContext expenseContext)
    {
        expenseView = ForecastAdapterService.CreateExpenseReport(DateTimeOffset.Now).Result;
    }

}
