<div class="text-center">
    <p>@ViewData.Model.reportTitle()</p>
    @foreach (var individualExpense in @ViewData.Model.displayIndividualExpenses())
    {
        <p>@individualExpense</p>
    }
    <p>@ViewData.Model.mealExpenseTotal()</p>
    <p>@ViewData.Model.TotalExpenses()</p>
</div>