<div class="text-center">
    <p>Expenses @ViewData.Model.ExpenseDate</p>
    @foreach (var individualExpense in @ViewData.Model.IndividualExpenses)
    {
        <p>@individualExpense</p>
    }
    <p>Meal Expenses: @ViewData.Model.MealExpenses</p>
    <p>Total Expenses: @ViewData.Model.TotalExpenses</p>
</div>